
<div class="container" id="home-container">
    <div class="jumbotron jumbotron-fluid text-center text-white">
        <div class="container">
            <h1 class="display-4">Welcome Betsy Bess & Co</h1>
            <p class="lead">This is a simple service unit calling extra attention to featured content or information of your company.</p>
            <hr class="my-4">
            <p>Very glad to spead yours across the world with a quick smile.</p>
            <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
        </div>
    </div>
</div>