<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Betsy Bess <%= link_to "manivannan","https://mashrurhossain.com",class: "text-yellow" %> </small>
    </div>
  </footer>